/*
a:visited {}

//

a:hover {}
a:active {}

.paging-nav {
    text-align: left;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 13px;
}

.paging-nav a {
    margin: auto 1px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 2px 2px;
    background: #a8bcdb;
    color: rgb(14, 11, 11);
    border-radius: 2px;
    min-width: 25px;
}

.paging-nav .selected-page {
    font-weight: bold;
    color: #dc3545;
}


//

.table {
    
    font-size: 11px;
    
    text-align: left;
    width: 100%;
    margin: auto;
}

th {
    font-family: 'Courier New', Courier, monospace; 
    background-color: teal;
    color: black;
}


/*
.table tr:nth-child(even) {
    background-color: rgb(205, 229, 245);
}

.table tr:nth-child(odd) {
    background-color: whitesmoke;
}


.display_table {
    
    padding: 10px;
    box-shadow: 3px 3px 3px 3px #818283;
}

.header {
    font-family: helvetica;
    color: #d36318;
    font-size: 25px;
    text-align: left;
    width: 100%;
    text-shadow: 6px 6px 6px #c9c6c6;
    display: block;
    font-weight: bolder;
}

.success {
    list-style: none;
    background-color: rgba(130, 214, 130, 0.863);
    color: white;
    text-align: center;}

.footer {
    background-color: rgba(132, 141, 194, 0.863);   
}

*/